/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  margin: 10% auto; /* 15% from the top and centered */
  margin-bottom: -30px;
  padding: 20px;
  border: 0px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
  height: 50%;
  top: 50%;
  left: 50%;
}
.box-cross{
  background-color : black;
  hieght: 10px;
  width: 10px;
  padding: 0% 0% 100% 100% ;
}
.box input[type = "email"],.box input[type = "password"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 5px solid #929ade;
    padding: 13px 10px;
    width: 170px;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 28px;
    transition: 1s;
}



/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.btn{
  background-color: grey;
}

.btn:hover{
  background-color: black;
}

.background
{
  background-color: #ffffff;
  margin: 10% auto; /* 15% from the top and centered */
  margin-bottom: -50px;
  padding: 30px;
  border: 1px solid rgb(255, 255, 255);
  width: 80%; /* Could be more or less, depending on screen size */
  height: 130%;
  
}
